<header id="header" class="fixed-top header-transparent">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="index.html">BizPage</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul *ngIf="!loggedIn()">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#team">Team</a></li>
            <li class="mr-5"><a href="#contact">Contact Us</a></li>
            <form
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0 ml-2"
      (ngSubmit)="login()"
      *ngIf="!loggedIn()"
    >
      <input
        type="text"
        class="form-control mr-sm-2"
        name="username"
        placeholder="Username"
        required
        [(ngModel)]="model.username"
      />
      <input
        type="password"
        class="form-control mr-sm-2"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="model.password"
      />
      <button
        class="btn btn-login"
        [disabled]="!loginForm.valid"
        type="submit"
      >
        Login
      </button>
    </form>
          </ul>

          <ul *ngIf="loggedIn()">
            <li routerLinkActive="active">
              <a routerLink="/members">Matches</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/lists">Lists</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a routerLink="/messages">Messages</a>
            </li>
            <div *ngIf="loggedIn()" class="btn-group ml-5" dropdown style="margin-top: 1%;">
              <span class="mr-1">
                <img
                  src="{{ photoUrl || '../../assets/Default.png' }}"
                  alt=""
                /> </span
              >&nbsp;
              <li class="drop-down">
                <a
                  >Welcome {{ authService.decodedToken.unique_name | titlecase
                  }}<span class="caret"></span
                ></a>
                <ul>
                  <li>
                    <a routerLink="/member/edit"
                      ><i class="fa fa-user"></i>Edit</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="logOut()"
                      ><i class="fa fa-sign-out"></i>Logout</a
                    >
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </div>
  </div>
</header>
