<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a href="" class="navbar-brand">Habibii</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a href="" class="nav-link">Matches</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Lists</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link">Messages</a>
    </li>
  </ul>

  <form #loginForm="ngForm" class="form-inline my-2 my-lg-0" (ngSubmit) ="login()">
    <input type="text" class="form-control mr-sm-2" name="username" placeholder="Username" required [(ngModel)]="model.username"/>
    <input type="password" class="form-control mr-sm-2" name="password" placeholder="Password" required [(ngModel)]="model.password"/>
    <button class="btn btn-success" [disabled] = "!loginForm.valid" type="submit">Login</button>
  </form>
</nav>
