body {

  color: pink;

}
.bubbling-heart div {
  position: fixed;
  color: #ea907a;
  text-shadow: 0 0 40px pink;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25vh) scale(0);
  opacity: 0;
  animation: bubbleUp 2s infinite;
}
.bubbling-heart div .fa {
  transform: translateX(12.5vw) rotate(25deg);
  animation: oscillate 4s ease-in-out infinite;
}
.bubbling-heart div:nth-child(2) {
  animation-delay: 0.5s;
}
.bubbling-heart div:nth-child(2) .fa {
  animation-delay: 1s;
}
.bubbling-heart div:nth-child(3) {
  animation-delay: 1s;
}
.bubbling-heart div:nth-child(3) .fa {
  animation-delay: 2s;
}
.bubbling-heart div:nth-child(4) {
  animation-delay: 1.5s;
}
.bubbling-heart div:nth-child(4) .fa {
  animation-delay: 3s;
}
@keyframes bubbleUp {
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -25vh) scale(2);
  }
}
@keyframes oscillate {
  50% {
    transform: translateX(-12.5vw) rotate(-25deg);
  }
}
