&nbsp;
<div class="container mt-5">
  <div class="row">
    <h1>{{ user.knownAs }}'s Account</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          style="border-radius: 10px"
          src="{{ user.photoUrl || '../../assets/Default.png' }}"
          alt="{{ user.knownAs }}"
        />
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{ user.city }},{{ user.country }}</p>
          </div>
          <div>
            <strong>Age:</strong>
            <p>{{ user.age }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p>{{ user.lastActive | timeAgo }}</p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p>{{ user.created | date: "medium" }}</p>
          </div>
        </div>
      </div>
      <div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn_like w-100">Like</button>&nbsp;
            <button class="btn btn_message w-100">Message</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About">
            <h4>Description</h4>
            <p>{{ user.introduction }}</p>
            <h4>Looking For</h4>
            <p>{{ user.lookingFor }}</p>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{ user.intrests }}</p>
            <h4>Looking For</h4>
            <p>{{ user.lookingFor }}</p>
          </tab>
          <tab heading="Photos">
            <h4>Photos will go here</h4>
            <!--<div class="gallery" *ngFor="let url of imageUrls">
              <a tabindex="1"><img src="{{url}}"></a>
                </div> -->
            <div class="gallery">
              <img
                class="img"
                *ngFor="let url of imageUrls"
                src="{{ url }}"
                alt=""
              />
            </div>
          </tab>
          <tab heading="Messages">
            <h4>Messages will go here</h4>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
