.img-thumbnail{
  margin: 25px;
  width: 85%;
  height: 85%;
}
.card-body{
  padding: 0 25px;
}

.card-footer{
  padding: 10px 15px;
  background-color: #f4f7c5;
  opacity: 0.8;
  border-top: none;
}

.btn_like{
  background-color: #ea907a;
}

.btn_message{
  background-color: #aacdbe;
}

.btn{
  border-radius: 20px;
}

.gallery{
  margin: 10px 50px;
}
.gallery img {
  transition: 1s;
  padding: 15px;
  width: 200px;
}
.gallery img:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}



/* .gallery{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.img{
  margin: 5px;
  border-radius: 5px;
  height: 40vh;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.9;
}
.img:hover{
  opacity: 1;
}

@media only screen and (max-height: 500px){
  img{
    height: 70vh;
  }
} */

