<section id="intro">
  <div class="intro-container">
    <div
      id="introCarousel"
      class="carousel slide carousel-fade"
      data-ride="carousel"
    >
      <ol class="carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">
        <div
          class="carousel-item active"
          style="
            background: url(assets/img/wp1.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          "
        >
          <div class="carousel-container">
            <div class="container" *ngIf="!registerMode">
              <h2 class="animate__animated animate__fadeInDown">
                Find here your match
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Sign in if you are new and start chatting with people like you
                want
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                (click)="registerToggle()"
                >Register</a
              >
              <a
                href="#featured-services"
                class="btn-learnmore scrollto animate__animated animate__fadeInUp"
                >Learn more</a
              >
            </div>
            <div *ngIf="registerMode" class="container">
              <div class="row justify-content-center">
                <div class="col-4">
                  <div class="container mt-3">
                    <app-register></app-register>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="carousel-item"
          style="
            background: url(assets/img/wp2.jpg) no-repeat center center fixed;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: cover;
          "
        >
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                At vero eos et accusamus
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Nam libero tempore, cum soluta nobis est eligendi optio cumque
                nihil impedit quo minus id quod maxime placeat facere possimus,
                omnis voluptas assumenda est, omnis dolor repellendus.
                Temporibus autem quibusdam et aut officiis debitis aut.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div>
          </div>
        </div>

        <div
          class="carousel-item"
          style="background-image: url(assets/img/intro-carousel/3.jpg)"
        >
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                Temporibus autem quibusdam
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt omnis iste natus error sit voluptatem accusantium.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div>
          </div>
        </div>

        <div
          class="carousel-item"
          style="background-image: url(assets/img/intro-carousel/4.jpg)"
        >
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                Nam libero tempore
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                consectetur, adipisci velit, sed quia non numquam eius modi
                tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem. Ut enim ad minima veniam, quis nostrum.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div>
          </div>
        </div>

        <div
          class="carousel-item"
          style="background-image: url(assets/img/intro-carousel/5.jpg)"
        >
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">
                Magnam aliquam quaerat
              </h2>
              <p class="animate__animated animate__fadeInUp">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <a
                href="#featured-services"
                class="btn-get-started scrollto animate__animated animate__fadeInUp"
                >Get Started</a
              >
            </div>
          </div>
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#introCarousel"
        role="button"
        data-slide="prev"
      >
        <span
          class="carousel-control-prev-icon ion-chevron-left"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
      </a>

      <a
        class="carousel-control-next"
        href="#introCarousel"
        role="button"
        data-slide="next"
      >
        <span
          class="carousel-control-next-icon ion-chevron-right"
          aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
<app-about-us></app-about-us>
<app-mentions></app-mentions>
<app-contact></app-contact>
<app-footer></app-footer>
